.legal {
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
}

.legal__shell {
  max-width: 820px;
  width: 100%;
  padding: 3rem;
}

.legal__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2 {
  margin-top: 2rem;
  font-size: 1.25rem;
}

p {
  line-height: 1.7;
  margin-top: 0.75rem;
}

ul {
  margin-top: 1rem;
  padding-left: 1.2rem;

  li {
    margin-bottom: 0.5rem;
    line-height: 1.6;
  }
}
