<header class="header">
    <div class="header__container">

        <a class="brand" routerLink="/">
            <img src="assets/logo-tochoko.png" alt="Tochoko" class="brand__logo" />
            <span class="brand__name">TOCHOKO</span>
        </a>

        <nav class="nav">
            <a class="nav__link" routerLink="/tracking">
                Seguimiento del pedido
            </a>

            <a class="nav__cta" routerLink="/checkout">
                Comprar
            </a>
        </nav>

    </div>
</header>